body{
    padding: 0px;
    margin: 0px;
}
.nav{
    background-color: green;
    font-size: larger;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#nav-bar>li{
    display: inline-block;
    padding: 40px;
}
.content{
    display: flex;
    float: leftS;
}
.sets{
    border: 1px solid red;
    margin-left: 7%;
}